.main {
  width: calc(100%/4);
  box-sizing: border-box;
}

.latest_blog {
  cursor: pointer;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  transition: transform 0.3s ease;
  margin: 20px 20px;
  height: 90%;
  /* overflow: hidden; */
}

.blog-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


@media (max-width: 991px) {
  .main {
    width: calc(100% / 3);
  }
}

@media (max-width: 700px) {
  .main {
    width: calc(100% / 2);
  }
}

/* @media (min-width: 992px) {
  .main {
    width: calc(100% / 4); 
  }
} */



.latest_blog:hover {
  transform: translateY(-5px);
}



.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  
}

.blogs img {
  margin-bottom: 10px;
  border-radius: 50%;
  max-width: 100%;
}

.blogs h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.blogs p {
  font-size: 16px;
  color: #666;
}